# Data Acquisition: Excercises
* Create a new local git repository and remote repository on github named time-series-exercises. 
- Save this work for this module in your time-series-exercises repo.
* The end result of this exercise should be a file named acquire.py.

## Imports

In [265]:
import numpy as np
import pandas as pd
import requests
import acquire

from os import path
from importlib import reload

In [249]:
if path.exists('sales.csv') :
    print(True)

True

## Q1: Us[e] the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items
* Create a dataframe named 'items' that has all of the data for items.
* Code Notes:
    - `response = requests.get('http://somesite.com/')` : returns object
    - `.ok`
    -  `.status_code`
    - `.text`
    - `.json()`: can return dictionary if object is RESTful

In [152]:
base_url = 'https://python.zgulde.net'

In [153]:
#to get documentation
response = requests.get(base_url +'/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [154]:
#pull information/payload from the url
response = requests.get('https://python.zgulde.net/api/v1/items')

In [155]:
#returns/prints string representing the pulled data
print(response.text)

{"payload":{"items":[{"item_brand":"Riceland","item_id":1,"item_name":"Riceland American Jazmine Rice","item_price":0.84,"item_upc12":"35200264013","item_upc14":"35200264013"},{"item_brand":"Caress","item_id":2,"item_name":"Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct","item_price":6.44,"item_upc12":"11111065925","item_upc14":"11111065925"},{"item_brand":"Earths Best","item_id":3,"item_name":"Earths Best Organic Fruit Yogurt Smoothie Mixed Berry","item_price":2.43,"item_upc12":"23923330139","item_upc14":"23923330139"},{"item_brand":"Boars Head","item_id":4,"item_name":"Boars Head Sliced White American Cheese - 120 Ct","item_price":3.14,"item_upc12":"208528800007","item_upc14":"208528800007"},{"item_brand":"Back To Nature","item_id":5,"item_name":"Back To Nature Gluten Free White Cheddar Rice Thin Crackers","item_price":2.61,"item_upc12":"759283100036","item_upc14":"759283100036"},{"item_brand":"Sally Hansen","item_id":6,"item_name":"Sally Hansen Nail Color Magnetic 903 Silver Elements","item_price":6.93,"item_upc12":"74170388732","item_upc14":"74170388732"},{"item_brand":"Twinings Of London","item_id":7,"item_name":"Twinings Of London Classics Lady Grey Tea - 20 Ct","item_price":9.64,"item_upc12":"70177154004","item_upc14":"70177154004"},{"item_brand":"Lea & Perrins","item_id":8,"item_name":"Lea & Perrins Marinade In-a-bag Cracked Peppercorn","item_price":1.68,"item_upc12":"51600080015","item_upc14":"51600080015"},{"item_brand":"Van De Kamps","item_id":9,"item_name":"Van De Kamps Fillets Beer Battered - 10 Ct","item_price":1.79,"item_upc12":"19600923015","item_upc14":"19600923015"},{"item_brand":"Ahold","item_id":10,"item_name":"Ahold Cocoa Almonds","item_price":3.17,"item_upc12":"688267141676","item_upc14":"688267141676"},{"item_brand":"Honest Tea","item_id":11,"item_name":"Honest Tea Peach White Tea","item_price":3.93,"item_upc12":"657622604842","item_upc14":"657622604842"},{"item_brand":"Mueller","item_id":12,"item_name":"Mueller Sport Care Basic Support Level Medium Elastic Knee Support","item_price":8.4,"item_upc12":"74676640211","item_upc14":"74676640211"},{"item_brand":"Garnier Nutritioniste","item_id":13,"item_name":"Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam","item_price":6.47,"item_upc12":"603084234561","item_upc14":"603084234561"},{"item_brand":"Pamprin","item_id":14,"item_name":"Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief","item_price":7.54,"item_upc12":"41167300121","item_upc14":"41167300121"},{"item_brand":"Suave","item_id":15,"item_name":"Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut","item_price":9.11,"item_upc12":"79400847201","item_upc14":"79400847201"},{"item_brand":"Burts Bees","item_id":16,"item_name":"Burts Bees Daily Moisturizing Cream Sensitive","item_price":5.17,"item_upc12":"792850014008","item_upc14":"792850014008"},{"item_brand":"Ducal","item_id":17,"item_name":"Ducal Refried Red Beans","item_price":1.16,"item_upc12":"88313590791","item_upc14":"88313590791"},{"item_brand":"Scotch","item_id":18,"item_name":"Scotch Removable Clear Mounting Squares - 35 Ct","item_price":4.39,"item_upc12":"21200725340","item_upc14":"21200725340"},{"item_brand":"Careone","item_id":19,"item_name":"Careone Family Comb Set - 8 Ct","item_price":0.74,"item_upc12":"41520035646","item_upc14":"41520035646"},{"item_brand":"Usda Produce","item_id":20,"item_name":"Plums Black","item_price":5.62,"item_upc12":"204040000000","item_upc14":"204040000000"}],"max_page":3,"next_page":"/api/v1/items?page=2","page":1,"previous_page":null},"status":"ok"}

In [156]:
#use .json to turn into dictionary if underlying infomration is in RESTful format
data = response.json()

In [157]:
#print out data and verify contents
print(type(data))
data

<class 'dict'>

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [158]:
#explore shape of data and information within
data.keys()

dict_keys(['payload', 'status'])

In [159]:
#drill down into payload --> question says to grab items data
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [160]:
#created variables that will hold the payload sub dictionary information
current_page = data['payload']['page']
next_page = data['payload']['next_page']
max_page = data['payload']['max_page']

In [161]:
#create items dataframe to hold data from payload['items'] dictionary
items = pd.DataFrame(data['payload']['items'])

In [162]:
#verify contents
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [163]:
items.shape

(20, 6)

In [164]:
print(data['payload']['next_page'])

/api/v1/items?page=2

In [165]:
for page in range(current_page, max_page):
    t_response = requests.get(base_url + next_page)   
    data = t_response.json()
    items = pd.concat([items, pd.DataFrame(data['payload']['items'])])
    next_page = data['payload']['next_page']
    if type(next_page) is None:
        break
    print('-----')

-----
-----

In [166]:
items.shape

(50, 6)

## Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [167]:
#pull information/payload from the url
response_stores = requests.get('https://python.zgulde.net/api/v1/stores')

In [168]:
#use .json to turn into dictionary if underlying infomration is in RESTful format
data_stores = response_stores.json()

In [169]:
#print out data and verify contents
print(type(data_stores))
data_stores

<class 'dict'>

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [170]:
#explore shape of data and information within
data_stores.keys()

dict_keys(['payload', 'status'])

In [171]:
#drill down into payload --> question says to grab items data
data_stores['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [172]:
#created variables that will hold the payload sub dictionary information
current_page_stores = data_stores['payload']['page']
next_page_stores = data_stores['payload']['next_page']
max_page_stores = data_stores['payload']['max_page']

In [173]:
#create items dataframe to hold data from payload['items'] dictionary
stores = pd.DataFrame(data_stores['payload']['stores'])

In [174]:
#verify contents
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [175]:
#only 1 page of stores
max_page_stores

1

## Extract the data for sales (https://python.zgulde.net/api/v1/sales). 
* There are a lot of pages of data here, so your code will need to be a little more complex.  
* Your code should continue fetching data from the next page until all of the data is extracted.
* Save the data in your files to local csv files so that it will be faster to access in the future.

In [194]:
response_sales = requests.get('https://python.zgulde.net/api/v1/sales')

In [195]:
data_sales = response_sales.json()

In [196]:
data_sales.keys()

dict_keys(['payload', 'status'])

In [197]:
data_sales['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [213]:
current_page_sales = data_sales['payload']['page']
next_page_sales = data_sales['payload']['next_page']
max_page_sales = data_sales['payload']['max_page']

In [199]:
next_page_sales

'/api/v1/sales?page=2'

In [200]:
sales = pd.DataFrame(data_sales['payload']['sales'])

In [214]:
sales_list = []
for page in range(current_page_sales, max_page_sales):
    t_response = requests.get(base_url + next_page_sales)   
    data = t_response.json()
    #sales = pd.concat([sales, pd.DataFrame(data_sales['payload']['sales'])])
    sales_list.extend(data['payload']['sales'])
    next_page_sales = data['payload']['next_page']
    if next_page_sales is None:
        break
    print(f'{page}\n')

1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19

20

21

22

23

24

25

26

27

28

29

30

31

32

33

34

35

36

37

38

39

40

41

42

43

44

45

46

47

48

49

50

51

52

53

54

55

56

57

58

59

60

61

62

63

64

65

66

67

68

69

70

71

72

73

74

75

76

77

78

79

80

81

82

83

84

85

86

87

88

89

90

91

92

93

94

95

96

97

98

99

100

101

102

103

104

105

106

107

108

109

110

111

112

113

114

115

116

117

118

119

120

121

122

123

124

125

126

127

128

129

130

131

132

133

134

135

136

137

138

139

140

141

142

143

144

145

146

147

148

149

150

151

152

153

154

155

156

157

158

159

160

161

162

163

164

165

166

167

168

169

170

171

172

173

174

175

176

177

178

179

180

181

In [211]:
print(next_page_sales)

None

In [217]:
sales = pd.concat([sales, pd.DataFrame(sales_list)])

In [218]:
sales.shape

(913000, 5)

In [222]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 907999
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   item         913000 non-null  int64
 1   sale_amount  913000 non-null  float64
 2   sale_date    913000 non-null  object
 3   sale_id      913000 non-null  int64
 4   store        913000 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 41.8+ MB

In [223]:
# change item --> item_id, store --> store_id
sales = sales.rename(columns={'item':'item_id', 'store': 'store_id'})

In [253]:
sales.to_csv('sales.csv', index=False)

In [ ]:
#getting endpionts
#requests.get ('zguild'.josn()['payload']['routes'][subscript integer of endpoints])

SyntaxError: invalid syntax (3894496749.py, line 2)

## Combine the data from your three separate dataframes into one large dataframe.

In [225]:
df = pd.merge(sales, items, how='left', on='item_id')

In [229]:
df = pd.merge(df, stores, how='left', on='store_id')

## Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. 
* The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. 
* You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [260]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'

energy_df = pd.read_csv(url)

In [261]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

## Make sure all the work that you have done above is reproducible. 
* That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [238]:
# create function to acquire zgulde data

def acquire_items_data():

    #pull information/payload from the url
    response = requests.get('https://python.zgulde.net/api/v1/items')

    #use .json to turn into dictionary if underlying infomration is in RESTful format
    data = response.json()

    #create variables that will hold the payload sub dictionary information
    current_page = data['payload']['page']
    next_page = data['payload']['next_page']
    max_page = data['payload']['max_page']

    base_url = 'https://python.zgulde.net'

    #create items dataframe to hold data from payload['items'] dictionary
    items = pd.DataFrame(data['payload']['items'])

    for page in range(current_page, max_page):
        response = requests.get(base_url + next_page)   
        data = response.json()
        items = pd.concat([items, pd.DataFrame(data['payload']['items'])], ignore_index=True)
        next_page = data['payload']['next_page']
        if type(next_page) is None:
            break


    return items

In [244]:
def acquire_store_data():

    #pull information/payload from the url
    response = requests.get('https://python.zgulde.net/api/v1/stores')

    #use .json to turn into dictionary if underlying infomration is in RESTful format
    data = response.json()

    #create variables that will hold the payload sub dictionary information
    current_page = data['payload']['page']
    next_page = data['payload']['next_page']
    max_page = data['payload']['max_page']

    base_url = 'https://python.zgulde.net'

    #create items dataframe to hold data from payload['items'] dictionary
    stores = pd.DataFrame(data['payload']['stores'])

    for page in range(current_page, max_page):
        response = requests.get(base_url + next_page)   
        data = response.json()
        stores = pd.concat([stores, pd.DataFrame(data['payload']['stores'])], ignore_index=True)
        next_page = data['payload']['next_page']
        if next_page is None:
            break


    return stores

In [256]:
def acquire_sales_data():


    if path.exists('sales.csv'):
        sales = pd.read_csv('sales.csv')
        return sales

    #pull information/payload from the url
    response = requests.get('https://python.zgulde.net/api/v1/sales')

    #use .json to turn into dictionary if underlying infomration is in RESTful format
    data = response.json()

    #create variables that will hold the payload sub dictionary information
    current_page = data['payload']['page']
    next_page = data['payload']['next_page']
    max_page = data['payload']['max_page']

    base_url = 'https://python.zgulde.net'

    #create items dataframe to hold data from payload['items'] dictionary
    sales = pd.DataFrame(data_sales['payload']['sales'])    
    sales_list = []

    for page in range(current_page_sales, max_page_sales):
        response = requests.get(base_url + next_page_sales)   
        data = response.json()
        #sales = pd.concat([sales, pd.DataFrame(data_sales['payload']['sales'])])
        sales_list.extend(data['payload']['sales'])
        next_page_sales = data['payload']['next_page']
        if next_page_sales is None:
            break

    sales = pd.concat([sales, pd.DataFrame(sales_list)])
    sales = sales.rename(columns={'item':'item_id', 'store': 'store_id'})

    return sales

In [257]:
def acquire_all_data():

    items = acquire_items_data()
    stores = acquire_store_data()
    sales = acquire_sales_data()

    df = pd.merge(sales, items, how='left', on='item_id')

    df = pd.merge(df, stores, how='left', on='store_id')

    return df

In [258]:
testing = acquire_all_data()

In [259]:
testing

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,TX,78231

In [262]:
def acquire_energy():
    
    url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'

    df = pd.read_csv(url)

    return df

In [263]:
energy_df = acquire_energy()

In [264]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

In [267]:
reload(acquire)

In [268]:
mod_testing = acquire.acquire_all_data()

In [269]:
mod_testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store_id       913000 non-null  int64
 5   item_brand     913000 non-null  object
 6   item_name      913000 non-null  object
 7   item_price     913000 non-null  float64
 8   item_upc12     913000 non-null  object
 9   item_upc14     913000 non-null  object
 10  store_address  913000 non-null  object
 11  store_city     913000 non-null  object
 12  store_state    913000 non-null  object
 13  store_zipcode  913000 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 104.5+ MB